@page "/todo"
@using BlazorTodo.Models

<h1 style="text-align: center">Todo's left: (@todos.Count(todo => !todo.IsDone))</h1>
<MudStack Justify="Justify.SpaceEvenly" Spacing="STACK_SPACING">
    @if (todos.Count(todo => todo.IsDone == false) > 0)
    {
        <MudPaper>
            <MudStack Row="true">
                <MudSwitch @bind-Checked="DATE_FILTERED" Label="Filter by date" Color="Color.Info"/>
                @if (DATE_FILTERED)
                {
                    <MudDateRangePicker Label="Find todos in range" @bind-DateRange="filterRange"/>
                }
            </MudStack>
            <MudList>
                @foreach (var todo in todos.Where(todo => todo.IsDone == false).Where(todo => DATE_FILTERED ? IsWithinFilter(todo) : true))
                {
                    <MudListItem>
                        <MudStack Row="true">
                            <MudTextField @bind-Value="todo.Description"
                                          Variant="Variant.Text"
                                          Margin="Margin.Dense"></MudTextField>
                            <MudElement>@todo.DueDate</MudElement>
                            <MudCheckBox @bind-Checked="todo.IsDone"></MudCheckBox>
                            <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                           aria-label="delete"
                                           @onclick="(_) => TodoDeleted(todo)"/>
                        </MudStack>
                    </MudListItem>
                }
            </MudList>
        </MudPaper>
    }
    @if (todos.Count(todo => todo.IsDone) > 0)
    {
        <MudExpansionPanel Text="Done">
            @foreach(var todo in todos.Where(todo => todo.IsDone))
            {
                 <MudListItem>
                     <MudStack Row="true">
                         <MudTextField @bind-Value="todo.Description"
                                       Variant="Variant.Text"
                                       Margin="Margin.Dense"></MudTextField>
                         <MudElement>@todo.DueDate</MudElement>
                         <MudCheckBox @bind-Checked="todo.IsDone"></MudCheckBox>
                         <MudIconButton Icon="@Icons.Material.Filled.Delete" 
                                        aria-label="delete" 
                                        @onclick="(_) => TodoDeleted(todo)"/> 
                     </MudStack>
                 </MudListItem>       
            }
        </MudExpansionPanel>
    }
    <MudPaper>
        <MudStack Row="true">
            <MudTextField @bind-Value="newTodoDescription"
                          Label="What would you like to get done?"
                          Variant="Variant.Text"
                          Margin="Margin.Dense"></MudTextField>
            <MudDatePicker Label="What Day?" @bind-Date="newTodoDate"/>
            <MudTimePicker Label="What time?" AmPm="true" @bind-Time="newTodoTime"/>
            <MudFab @onclick="NewTodo" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" />
        </MudStack>
    </MudPaper>
</MudStack>

@code {
    private int STACK_SPACING = 3;
    private bool DATE_FILTERED = false;
    
    private List<TodoItem> todos = new();
    private string? newTodoDescription;
    private DateTime? newTodoDate;
    private TimeSpan? newTodoTime;
    private DateRange? filterRange;


    private void NewTodo()
    {
        todos.Add(new TodoItem
        {
            Description = newTodoDescription,
            DueDate = newTodoDate.Value.Add(newTodoTime.Value),
            IsDone = false
        });
        todos.Sort();
        CleanUpForm();
    }

    private void CleanUpForm()
    {
        newTodoDescription = String.Empty;
        newTodoDate = null;
        newTodoTime = null;
    }

    private void TodoDeleted(TodoItem todo)
    {
        todos.Remove(todo);
    }

    private bool IsWithinFilter(TodoItem todo)
    {
        /*
         * we extract the dates the second comparison so the end of the filter is inclusive
         */
        return todo.DueDate > filterRange.Start && todo.DueDate.Value.Date <= filterRange.End.Value.Date;
    }

}